//Main Color

$color-white-0: #fff;
$color-white-1: rgba(255, 160, 160, 0.5);

$color-black-0: #404145;
$color-black-1: #62646a;
$color-black-2: #222325;
$color-black-3: #b5b6ba;
$color-black-4: #555;
$color-black-5: rgba(0, 0, 0, .15);
$color-black-6: rgba(0, 0, 0, .06);
$color-black-7: rgba(0, 0, 0, .7);
$color-black-8: rgba(56, 56, 56, .7);
$color-black-9: #7a7d85;

$color-blue-0: #4a73e8;

$color-green-0: #1dbf73;
$color-green-1: #19a463;
$color-green-2: #1fd0b6;
$color-green-4: #02c2a9;

$color-gray-0: #999;
$color-gray-1: #c5c6c9;
$color-gray-2: #d5d4d2;
$color-gray-3: #ddd;
$color-gray-4: #e5e5e5;
$color-gray-5: #eef2f5;
$color-gray-6: #e4e5e7;
$color-gray-7: #efeff0;
$color-gray-8: #f5f5f5;
$color-gray-9: #777;

$color-yellow-0: #ffc100;

//font-size
$fs-0: 16px;
$fs-1: 15px;
$fs-2: 19px;
$fs-3: 34px;
$fs-4: 24px;
$fs-5: 40px;


//font-weight
$fw-1: 300;
$fw-2: 500;
$fw-3: 700;

//line-height
$line-height-0: 1.43;
$line-height-1: 20px;
$line-height-2: 29px;

//margin
$mg-0: 0px;
$mg-1: 5px;
$mg-2: 20px;
$mg-3: 10px;
$mg-4: 1px;
$mg-5: 30px;

//padding
$pd-0: 8px;
$pd-1: 10px;
$pd-2: 12px;
$pd-3: 15px;
$pd-4: 20px;
$pd-5: 30px;
$pd-6: 3.5px;
$pd-7: 40px;
$pd-8: 100px;


//border-radius
$border-radius-0: 2px;
$border-radius-1: 3px;
$border-radius-2: 4px;

//form height
$form-height-0: 34px;
$form-height-1: 47px;

//string var
$string-0: "Test string";

//break point
$breakpoints: (
    'super-large': 1350px,
    'extra-large': 1200px,
    'large': 992px,
    'medium': 768px,
    'small': 576px,
)